html, body {
    background-color: #fff;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    border: 0;
    font: 12px/1.6 "Microsoft Yahei","Tahoma","SimSun";
    /*font-family: -webkit-body;*/
}

p, form, ol, ul, li, dl, dt, dd, h3 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #A3CDCF;
    outline: medium none;
    text-decoration: none;
}

#content {
    width: 430px;
    height: 211px;
    background-color: rgba(141, 193, 195, 0.8);
    position: relative;
}

.loading_mask {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: url(../images/loading.gif) no-repeat 50% 50%;
    background-color: rgba(255,255,255,0.6);
}

.city_mask {
    width: 100%;
    height: 100%;
    color: #A3CDCF;
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.86);
    display: block;
}

.weather_day, .weather_today {
    float: left;
    position: relative;
    width: 90px;
    height: 211px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border: none;
    z-index: 1;
    outline: none;
}

.weather_day_hover {
    z-index: -1;
    position: absolute;
    width: 90px;
    height: 211px;
}

.weather_day:hover .weather_day_hover {
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.015), rgba(255,255,255,.19));
    background-image: -o-linear-gradient(top, rgba(255,255,255,.015), rgba(255,255,255,.19));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.015), rgba(255,255,255,.19));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.015), rgba(255,255,255,.19));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr=#04FFFFFF,EndColorStr=#40FFFFFF);
}
/*----- 今天天气 -----*/
.weather_today {
    width: 160px;
}

.weather_today_icon {
    margin: 0 auto;
    width: 73px;
    height: 73px;
    line-height: 73px;
}

    .weather_today_icon img {
        vertical-align: middle;
    }

.weather_day_icon {
    margin: 0 auto;
    width: 60px;
    height: 60px;
}

.weather_city_date {
    text-align: left;
    margin: 10px 0 0 32px;
}

.current_city {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 19px;
    background: url(../images/map.png) no-repeat 0 -2px;
    cursor: pointer;
    display: :none;
}

.weather_today_temp {
    font-size: 18px;
    font-weight: 600;
}

.weather_day_temp {
    margin-top: 16px;
}

.weather_today .weather_weath {
    font-size: 14px;
}

.weather_today_aqi em {
    display: inline-block;
    margin-left: 5px;
    padding: 0 6px;
    line-height: 18px;
    height: 18px;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}

.weather_day_split {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 1px;
    height: 171px;
    background: #fff;
    filter: alpha(opacity=19);
    opacity: 0.19;
}

.weather_date {
    margin-top: 20px;
}

.weather_date_day {
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.close_hover {
    /*background: rgba(255,255,255,0.15);*/
    background: #A3CDCF;
}

.city_close {
    /*text-shadow: 0 1px 0 #333;*/
    display: inline-block;
    padding: 0;
    width: 16px;
    height: 16px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 6px;
}

    .city_close span {
        display: block;
        font-size: 12px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        transition: all .2s;
        color: #fff;
    }

    .city_close:hover {
        background-color: #A3CDCF;
    }

        .city_close:hover span {
            color: #fff;
            transform: rotate(90deg);
        }

.picker-content {
    padding: 10px 15px;
    width: 400px;
    display: inline-block;
}

    .picker-content .nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.picker-content .nav-tabs {
    margin-bottom: 10px;
    border-bottom: 1px solid #A3CDCF;
    display: table;
    width: 100%;
}

    .picker-content .nav-tabs li {
        position: relative;
        display: block;
        float: left;
        margin-bottom: -1px;
    }

    .picker-content .nav-tabs > li > a {
        position: relative;
        display: block;
        padding: 4px 15px;
        margin-right: 4px;
        line-height: 1.428571429;
        border: 1px solid transparent;
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
    }

        .picker-content .nav-tabs > li > a:hover {
            color: #fff;
            background: #A3CDCF;
            border: 1px solid #A3CDCF;
            border-bottom: 0;
        }

    .picker-content .nav-tabs > li.active > a,
    .picker-content .nav-tabs > li.active > a:hover,
    .picker-content .nav-tabs > li.active > a:focus {
        color: #fff;
        cursor: default;
        background-color: #A3CDCF;
        border: 1px solid #A3CDCF;
        border-bottom-color: transparent;
    }

    .picker-content .nav-tabs > li.active > a {
        /*font-weight: bold;*/
    }

.city-site-picker .nav:after {
    clear: both;
}

.picker-content .nav:after, .nav:before {
    display: table;
    content: " ";
}

.picker-content .tab-content > .tab-pane {
    display: none;
}

.picker-content .tab-content > .active {
    display: block;
}

.area-list {
    padding-top: 5px;
    list-style: none;
}

    .area-list li {
        float: left;
        width: 51px;
        padding: 2px 0 2px 5px;
    }

        .area-list li a {
            display: inline-block;
            padding: 2px 4px;
            color: #A3CDCF;
            text-decoration: none;
            border-radius: 3px;
            transition: all .2s;
        }

            .area-list li a:hover, .area-list li .hover {
                background: #A3CDCF;
                color: #fff;
                text-decoration: none;
            }
.weather_tip_menu{
    position: absolute;
    overflow: hidden;
    z-index: 3;
    border: 1px solid #666;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    background: #010304;
    color: #fff;
    display: none;
}
.weather_tip_menu ul{
    overflow: hidden;
}
.weather_tip_menu ul li{
    border-top: 1px solid #010304;
    border-bottom: 1px solid #010304;
    padding: 0px 8px;
}
.weather_tip_menu ul li:hover{
    cursor: pointer;
    background: rgba(255,255,255,0.23);
    border-top: 1px solid rgba(68,68,68,0.8);
    border-bottom: 1px solid rgba(68,68,68,0.8);
}